*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.numeri{
    font-size: 5rem;
    padding: 1rem;
    border: 2px solid black;
}

.risultato{
    font-size: 2rem;
}